In [1]:
#Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 101)

In [2]:

# Dataset is already loaded below
data = pd.read_csv("employee.csv")

In [3]:
# Dimensions of training data
data.shape

(4277, 13)

In [4]:
data.head()

,id,timestamp,country,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,1,12/11/2018 10:52:26,Slovenia,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,2,1/5/2017 16:57:50,United States,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,3,12/18/2017 8:13:15,Sweden,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,4,12/27/2018 4:56:52,United States,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,5,12/11/2018 14:07:58,United States,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [5]:

# drop id, timestamp and country columns
data = data.drop(columns=['id', 'timestamp','country'])

In [6]:

# Explore columns
data.columns

Index(['employment_status', 'job_title', 'job_years', 'is_manager',
       'hours_per_week', 'telecommute_days_per_week', 'education',
       'is_education_computer_related', 'certifications', 'salary'],
      dtype='object')

In [7]:
# replace NANs in hours_per_week with median value of the column
data.loc[data['hours_per_week'].isna(), 'hours_per_week'] = data['hours_per_week'].median()
data.loc[data['telecommute_days_per_week'].isna(), 'telecommute_days_per_week'] = data['telecommute_days_per_week'].median()

In [8]:

#Handling null values in categorical columns
data = data.dropna()

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4261 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   employment_status              4261 non-null   object
 1   job_title                      4261 non-null   object
 2   job_years                      4261 non-null   float64
 3   is_manager                     4261 non-null   object
 4   hours_per_week                 4261 non-null   float64
 5   telecommute_days_per_week      4261 non-null   float64
 6   education                      4261 non-null   object
 7   is_education_computer_related  4261 non-null   object
 8   certifications                 4261 non-null   object
 9   salary                         4261 non-null   float64
dtypes: float64(4), object(6)
memory usage: 366.2+ KB

In [10]:
# create another copy of dataset and append encoded features to it
data_train = data.copy()
data_train.head()

,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [11]:
# select categorical features
cat_cols = [c for c in data_train.columns if data_train[c].dtype == 'object'
            and c not in ['is_manager', 'certifications']]
cat_data = data_train[cat_cols]
cat_cols

['employment_status',
 'job_title',
 'education',
 'is_education_computer_related']

In [12]:
#Encoding binary variables
binary_cols = ['is_manager', 'certifications']
for c in binary_cols:
    data_train[c] = data_train[c].replace(to_replace=['Yes'], value=1)
    data_train[c] = data_train[c].replace(to_replace=['No'], value=0)

In [13]:
final_data = pd.get_dummies(data_train, columns=cat_cols, drop_first= True,dtype=int)
final_data.shape

(4261, 25)

In [14]:

final_data.columns

Index(['job_years', 'is_manager', 'hours_per_week',
       'telecommute_days_per_week', 'certifications', 'salary',
       'employment_status_Independent or freelancer or company owner',
       'employment_status_Part time', 'job_title_Analytics consultant',
       'job_title_Architect', 'job_title_DBA', 'job_title_Data Scientist',
       'job_title_Developer', 'job_title_Engineer', 'job_title_Manager',
       'job_title_Other', 'job_title_Principal database engineer',
       'job_title_Sales', 'job_title_Sr Consultant ',
       'education_Bachelors (4 years)', 'education_Doctorate/PhD',
       'education_Masters', 'education_None (no degree completed)',
       'is_education_computer_related_Unknown',
       'is_education_computer_related_Yes'],
      dtype='object')

In [15]:

final_data

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,salary,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
0,4.783930,1,40.0,0.0,0,7187.743094,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
1,5.000000,0,40.0,5.0,0,10000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,1.000000,0,40.0,0.0,1,7000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
3,1.000000,0,40.0,2.0,0,8333.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3.000000,0,40.0,2.0,1,7137.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,2.000000,1,40.0,0.0,0,4917.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4273,4.140793,1,40.0,0.0,0,7033.845701,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4274,5.000000,0,40.0,0.0,0,7166.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4275,4.000000,1,40.0,2.0,0,9583.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4276,1.000000,0,40.0,5.0,1,9166.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0

Train Test Split

In [16]:
y = final_data['salary']
X = final_data.drop(columns=['salary'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print("Training Set Dimensions:", X_train.shape)
print("Validation Set Dimensions:", X_test.shape)

Training Set Dimensions: (3408, 24)
Validation Set Dimensions: (853, 24)

In [17]:

# select numerical features
num_cols = ['job_years','hours_per_week','telecommute_days_per_week']
num_cols

['job_years', 'hours_per_week', 'telecommute_days_per_week']

In [18]:
# Apply standard scaling on numeric data
scaler = StandardScaler()
scaler.fit(X_train[num_cols])
X_train[num_cols] = scaler.transform(X_train[num_cols])

In [19]:

X_train

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
681,-0.751071,1,2.335756,-0.632382,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
705,0.100456,1,-0.448658,2.405617,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1
3582,-0.042766,0,0.182754,2.405617,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
976,-1.254934,0,-0.497743,-0.632382,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
1061,-0.247209,0,-1.631143,-0.632382,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1892,-0.133654,0,-0.254896,-0.632382,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1008,-0.209635,0,0.685796,-0.632382,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0
1889,-1.758797,0,-0.497743,-0.632382,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
3230,-0.226682,0,0.014808,-0.632382,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2710,0.256654,0,-0.497743,-0.632382,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1

In [20]:

#Fitting a Linear Regression Model
reg=LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [21]:
reg.coef_

array([  201.50185153,    70.52755309,   183.86329193,   228.45715954,
          49.29722152,   -56.38404901,   155.245367  , -2102.00333161,
        1080.16146819,   932.380799  ,   579.20743299,   612.62527108,
        1081.25626484,   895.37471924,   145.07997577,  1032.0782794 ,
         752.62748105,  3655.73443185,   384.18917881,  -238.83421202,
         221.16727203,   238.67637829,  -286.96593868,  -189.9374902 ])

In [22]:

reg.intercept_

6074.645371626479

In [23]:
# Normalized MSE (Dividing by mean)
mean_squared_error(y_train,reg.predict(X_train))/np.mean(y_train)

205.49531885917494

In [24]:
# Predict on the test data
y_pred = reg.predict(X_test)

In [25]:
#Evaluate the model on test data
mse = mean_squared_error(y_pred, y_test)/np.mean(y_test)
print("Mean Squared Error:", mse)

Mean Squared Error: 10729.27906227546

In [26]:
scaler.fit(X_test[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

In [27]:
X_test

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
4238,0.224463,1,0.074803,2.402373,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1887,-0.712771,1,-2.206926,-0.602354,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
1941,-0.363669,1,0.427344,-0.602354,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2952,0.009470,0,0.073196,-0.602354,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
3097,-0.276112,1,-0.804411,-0.001409,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2526,-0.216880,0,-0.450323,2.402373,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3870,-0.019032,0,-0.450323,-0.602354,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2052,-1.704553,0,2.477347,0.599536,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
3790,0.279011,1,0.720745,-0.602354,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0
3983,-0.216880,0,-0.450323,-0.001409,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [28]:
y_hat = reg.predict(X_test)

In [29]:
#Predicted Values
y_hat

array([6466.02944827, 6265.0403601 , 7188.78347526, 6759.2764943 ,
       7307.17964089, 7111.22874349, 7442.4611212 , 6517.48750713,
       5731.93186981, 7677.64670226, 7671.15998548, 7078.12725464,
       7349.54605605, 7186.30918105, 7612.1721121 , 7319.75362921,
       6194.42448807, 6584.33443752, 6643.65495475, 7798.02595374,
       6611.14348459, 5971.95816144, 7380.67299495, 6943.61379612,
       7182.29017442, 7857.63576295, 7205.54549493, 7161.08735807,
       7537.00417042, 6508.9403351 , 6431.93595024, 7282.31279041,
       7143.61388171, 6684.51499687, 7007.62051912, 7037.0889847 ,
       6923.36429945, 6361.78181085, 7514.84593879, 7618.0183783 ,
       6884.20235946, 7037.0889847 , 6796.22748563, 7472.81863252,
       7351.82403201, 6481.06633762, 7290.18502702, 6554.31155001,
       8061.98557361, 7443.29369604, 6864.70187509, 7212.51229512,
       6972.86004708, 7252.31393992, 7078.12725464, 6770.84153354,
       6686.6943069 , 7078.12725464, 7028.07000563, 7813.87365306,
       7126.30622707, 7188.78347526, 7244.90681213, 7227.0264749 ,
       6915.38120143, 7211.02818123, 7375.5342019 , 7078.12725464,
       7029.09070424, 7276.32369642, 7272.4316911 , 6874.61033455,
       6916.25928976, 7394.93636053, 8093.24185041, 6894.51213433,
       7380.82713088, 7023.8305309 , 7119.90767955, 6693.20347652,
       6394.85583638, 7400.06126203, 7465.54871727, 6253.92838205,
       6463.05520268, 6987.70695954, 7499.08396144, 7078.12725464,
       6656.79924401, 7036.55525746, 6982.77128258, 6830.97746028,
       7110.81391746, 7037.0889847 , 6465.38338947, 7838.96605175,
       7228.54555282, 7945.17698799, 7803.40551285, 7850.67316959,
       6225.94206481, 6564.59389294, 7236.93493436, 7558.77629811,
       7701.21229134, 5848.35762308, 7266.24555246, 7671.78228521,
       7559.11271286, 6659.27114534, 7447.2769183 , 7143.05940484,
       7030.88792107, 7272.4316911 , 7291.7942135 , 7812.24704738,
       6934.39795093, 6717.33345679, 6950.11367379, 7522.97973833,
       7238.21582846, 7244.90681213, 6783.65502899, 6033.37535349,
       6885.85071396, 8315.21409537, 7022.94254377, 7155.70164881,
       7037.0889847 , 7355.86977342, 6837.24303504, 6735.8010767 ,
       6937.16600987, 7397.83822257, 7395.79722143, 7871.96254149,
       6643.99900756, 6402.09401521, 6522.00359347, 6122.71403162,
       6692.45412139, 7170.4429599 , 6573.3442854 , 7771.73984443,
       6905.73549575, 7755.23949779, 8043.79301607, 7228.55827226,
       7456.43204435, 7546.83682124, 6577.08567678, 6789.19928099,
       8242.65133743, 6717.33345679, 7236.93493436, 7586.00108037,
       7924.44629757, 7042.27412237, 7426.87242456, 6570.35752715,
       7565.60408395, 7189.94690644, 7941.96060106, 6153.2001281 ,
       7037.0889847 , 7565.38688845, 6604.15202816, 6651.09464025,
       5932.27176551, 7755.23949779, 6828.06920903, 6271.72708593,
       6022.61499105, 7089.60537842, 7453.08205002, 6864.15861847,
       7403.7848285 , 6727.41160075, 6736.10912999, 6339.81539933,
       7098.36959672, 7272.4316911 , 6956.88577277, 7314.21937529,
       6556.87626918, 7643.39566194, 7138.2997577 , 6545.24635016,
       7223.67648056, 7188.78347526, 7653.00986647, 7037.0889847 ,
       6571.30081499, 7509.86976855, 7128.63529743, 7423.39189626,
       7094.73027992, 6923.90755607, 6449.60383198, 6366.93877899,
       6670.92811755, 6977.0327214 , 7843.36513102, 7265.18080784,
       7812.59340073, 6876.6317971 , 7375.5342019 , 6655.11186918,
       5910.45649709, 7321.11961708, 7904.89014916, 7480.99910741,
       7483.01579167, 7422.9791736 , 7456.43204435, 7043.69090688,
       6702.19702741, 6433.06725281, 6341.55980244, 6151.6663602 ,
       7536.70385885, 7287.47588403, 7178.2686914 , 6103.99389738,
       5894.95377658, 7380.71503721, 7524.75439825, 7206.96712657,
       7624.67737308, 7227.0264749 , 6723.93537896, 6920.56215643,
       7962.77506813, 6994.23954943, 7475.45717673, 6997.83498338,
       7185.96445054, 6950.11367379, 7226.2292019 , 6780.96105231,
       7065.89717909, 7012.89449186, 6754.7007563 , 7681.90504857,
       7396.55542596, 6971.0334436 , 6958.49957709, 6433.06725281,
       6694.12292805, 6860.67470489, 7060.42440707, 6573.43320316,
       6626.68656124, 7472.81863252, 6721.15459352, 7450.01039102,
       6756.72221884, 6905.73549575, 8251.67406211, 7063.92422851,
       7726.43488275, 8245.92494799, 5775.54383947, 6504.22905333,
       6842.83729609, 6628.13765064, 7499.08396144, 7552.17437594,
       7571.55210112, 7037.0889847 , 6786.61728173, 7293.97802573,
       7170.4429599 , 6749.01916373, 6817.25643162, 6982.47260204,
       6807.34797215, 6799.61271361, 6176.587677  , 7196.70457648,
       7086.38620622, 7155.65623531, 7343.45983137, 7084.94667907,
       6780.96105231, 6772.7245805 , 6517.48750713, 6522.36977397,
       6912.8265961 , 7577.23918879, 5959.19538519, 7721.86709411,
       8277.11143961, 7309.84516975, 6722.86390583, 7904.89014916,
       7228.55827226, 7476.16964608, 6923.36429945, 7273.75897725,
       6884.36094653, 7646.08676125, 6937.16600987, 7472.81863252,
       7446.72820585, 7086.38620622, 7062.1531795 , 6926.06872449,
       6892.98799573, 7098.36959672, 7240.51392002, 6400.80714007,
       7828.77638716, 7314.21937529, 6907.27094698, 7569.23769208,
       7242.49699198, 7347.40077949, 6704.74682325, 6729.22400143,
       7450.98083484, 6603.60877153, 6762.61167167, 7312.97852658,
       6602.43704458, 7643.70088604, 7234.16687542, 8084.95743049,
       7086.38620622, 8241.84491984, 7285.88742537, 6865.07528879,
       7086.38620622, 7373.68195208, 7272.4316911 , 7266.90980198,
       6820.13875506, 7535.89423348, 7118.4255059 , 7294.20403365,
       7211.78523732, 8113.43381499, 7170.4429599 , 6832.41666074,
       6573.3442854 , 6886.54025656, 6721.84954313, 6686.6943069 ,
       7413.61397076, 6462.99921276, 7249.11385807, 7501.24339151,
       7050.49687791, 6765.15231396, 6659.27114534, 6317.64155747,
       6471.63796609, 6974.39487903, 6365.17322899, 7076.47774676,
       7081.35953846, 6554.85480664, 7646.2689244 , 7111.82358373,
       7125.09050431, 7314.21937529, 6903.92095265, 7227.0264749 ,
       6402.42810292, 7028.07000563, 7228.54555282, 7163.95769119,
       7060.65457379, 7107.94271439, 6772.19273593, 7170.4429599 ,
       7675.30312639, 6723.30438075, 7112.40551912, 6991.91400547,
       6928.03736342, 5848.35762308, 6723.51834979, 7438.99294731,
       6475.77786605, 7170.4429599 , 7098.36959672, 6771.68516002,
       8261.58252157, 7772.83757793, 7777.60878351, 7035.9996139 ,
       5705.01628638, 7803.40551285, 7098.36959672, 7265.12840786,
       6268.70414941, 7710.15567516, 6394.85583638, 6417.5645323 ,
       7394.47621128, 7348.30297553, 6814.03725942, 7071.51353557,
       5936.12653576, 6912.8265961 , 6950.11367379, 7619.59837495,
       6905.73549575, 7107.94271439, 7373.68195208, 7037.0889847 ,
       7228.54555282, 7599.06212058, 6594.70178604, 6546.47347937,
       6722.86390583, 6926.06872449, 7170.4429599 , 6804.12879996,
       7310.04674667, 8135.16217774, 6707.92463847, 6354.46560035,
       7370.62741344, 7228.54555282, 6444.1530579 , 6737.32006021,
       7070.61045803, 7392.68748133, 7143.61388171, 7843.36513102,
       6830.97746028, 6666.70770348, 6659.27114534, 7310.46377584,
       7795.48912075, 8113.23899262, 7409.05567523, 6544.07603273,
       7034.35413106, 6574.29815344, 6950.11367379, 7428.9667393 ,
       6863.33448094, 6517.48750713, 5882.50197949, 7555.39354813,
       7400.4165484 , 7175.68825224, 7170.4429599 , 7299.66776074,
       6687.09229395, 7170.4429599 , 7474.14818353, 6907.58855125,
       7572.6897624 , 7223.67648056, 7544.63328103, 7461.85399242,
       7228.54555282, 7420.5231836 , 7499.08396144, 7170.4429599 ,
       7772.83757793, 6759.2764943 , 6901.90644015, 7037.0889847 ,
       7266.24555246, 7033.06997807, 8090.06055235, 6602.27405258,
       7948.57468188, 7314.21937529, 7997.05118343, 8191.8735231 ,
       6920.21560726, 6905.73549575, 7078.12725464, 7409.56106759,
       6851.68842482, 6854.62373113, 6574.29815344, 8338.04432821,
       7037.0889847 , 7078.12725464, 7188.78347526, 7595.09991446,
       6948.77363331, 8223.15523056, 7825.17388503, 7276.01846531,
       7726.64134905, 7126.06119858, 7510.06178513, 7078.12725464,
       6484.06656347, 7260.54794823, 6892.13451761, 7956.6219863 ,
       7052.55950178, 7144.47522928, 7266.24555246, 7875.14907605,
       6417.5645323 , 6892.98799573, 6832.41666074, 6812.73559216,
       7114.52215926, 6474.79220778, 7349.67681526, 6652.89980589,
       7920.61824713, 7910.06054847, 7070.91568914, 6433.24494344,
       6416.75261881, 6291.29568156, 7249.58192859, 7125.09050431,
       6838.71621353, 7432.03738102, 7472.81863252, 7487.85371691,
       5932.27176551, 6754.15749967, 7062.94626528, 7686.93879347,
       6884.20235946, 7261.5896697 , 7350.76404051, 7709.42485102,
       6976.20211604, 6811.51140261, 7314.21937529, 7798.26490722,
       6766.63067831, 6920.06172989, 6794.5477357 , 7037.0889847 ,
       6522.36977397, 6384.02780437, 7693.64529352, 6830.97746028,
       7056.13848745, 6881.53931455, 7201.29484247, 6986.46323139,
       6860.85604891, 7334.83707178, 6976.7775761 , 7197.94484813,
       6972.26225292, 6735.8010767 , 6355.07200066, 7076.47774676,
       7400.06126203, 6402.42810292, 7111.82358373, 6907.27094698,
       6894.47071053, 6843.84495722, 7104.85953049, 7942.94337534,
       7107.94271439, 6828.06920903, 7105.00544111, 6522.36977397,
       7324.90844859, 7120.73275194, 7224.6843051 , 6807.34797215,
       7170.4429599 , 6590.72079107, 6907.27094698, 7170.4429599 ,
       8518.90514842, 7417.12836831, 7174.37925904, 6613.1404567 ,
       7194.23963502, 6462.99921276, 7037.0889847 , 7276.32369642,
       6766.63067831, 6832.41666074, 7141.67252173, 7314.21937529,
       7911.97311893, 6115.42238903, 7174.37925904, 6713.60989032,
       8090.06055235, 5918.51936567, 7593.473317  , 7228.54555282,
       6807.34797215, 6952.63652695, 6794.5477357 , 7170.4429599 ,
       5936.12653576, 7249.6373925 , 7337.02210725, 7144.47522928,
       7069.12828438, 7227.0264749 , 6272.61006521, 7096.02673356,
       7353.49355081, 6265.56404913, 7042.27412237, 7864.16108649,
       7030.39426913, 6475.77786605, 6656.79924401, 6831.69199565,
       7078.12725464, 7107.61653779, 7078.12725464, 6722.86390583,
       6294.8480579 , 6886.54025656, 7472.81863252, 7037.0889847 ,
       7272.4316911 , 7832.06976149, 7044.56122133, 7441.0672648 ,
       7474.02400253, 7832.06976149, 7635.81720831, 6165.32727933,
       6566.78472865, 6471.63796609, 7174.37925904, 6786.61728173,
       7843.17002982, 7066.3996028 , 7090.21419358, 6498.47075763,
       6905.73549575, 7680.34322425, 6171.8041111 , 6887.34499612,
       6562.62889141, 7012.89449186, 7701.21229134, 7349.54605605,
       7562.70363315, 7789.85446857, 6721.84954313, 6545.24635016,
       6374.86923295, 7346.11037787, 7442.2121195 , 7078.12725464,
       7255.96810681, 6892.98799573, 7207.90073237, 6759.2764943 ,
       7375.5061028 , 7586.00108037, 6382.4414995 , 7286.23215588,
       7223.67648056, 7956.6219863 , 7152.48247661, 7514.84593879,
       7084.87664704, 7460.88972974, 7078.12725464, 6991.62562641,
       6759.2764943 , 6965.66471448, 7013.37978655, 6837.24303504,
       7231.60693453, 7305.78922515, 6466.53710796, 7431.494308  ,
       6807.34797215, 6661.76839845, 8244.32459973, 7188.78347526,
       7513.53694559, 6835.64147557, 6830.97746028, 6722.86390583,
       7672.9146031 , 7586.00108037, 6881.492972  , 6196.4182329 ,
       6637.39708538, 6884.20235946, 6644.86932201, 7568.78458234,
       7524.75439825, 6471.63796609, 6474.37517861, 7023.95330515,
       7034.35413106, 7749.69934786, 7265.68242837, 7303.13855754,
       8385.90202257, 6841.90359724, 6507.57904766, 6961.27485559,
       7163.24017456, 7248.57060144, 7582.30459025, 7340.4111691 ,
       7612.1721121 , 6702.19702741, 7560.51844964, 7035.81885387,
       6937.16600987, 6292.26258092, 6686.6943069 , 6302.50512809,
       6717.33345679, 6439.79540243, 6517.48750713, 6828.06920903,
       7193.06894833, 6929.17401982, 6881.76339552, 7380.71503721,
       6835.56977274, 6405.32262927, 6780.96105231, 7170.4429599 ,
       6317.64155747, 6832.41666074, 6843.84495722, 5869.22214415,
       7820.98349293, 6886.54025656, 6862.15662031, 7138.05793081,
       6828.8920987 , 7170.4429599 , 7147.55482983, 6285.41305101,
       6917.17940645, 7400.03331593, 7276.32369642, 7113.84504627,
       7164.78452489, 6912.8265961 , 6672.02852938, 6871.20802818,
       7349.80256947, 7832.06976149, 7037.0889847 , 7223.67648056,
       7691.37506037, 7671.78228521, 7415.20728463, 7346.85124951,
       6422.08061864, 5687.06593098, 7191.19097275, 6722.61574818,
       6674.13632462, 6667.00272367, 6965.35948337, 6774.40699635,
       7250.01826121, 7772.83757793, 6376.90563941, 7078.12725464,
       6905.73549575, 8347.60805716, 7276.32369642, 6523.67240013,
       6897.27285355, 7560.81270457, 7138.2997577 , 7991.14580022,
       6742.91432126, 7293.72812599, 6759.2764943 , 7078.12725464,
       6912.8265961 , 7170.4429599 , 6923.90755607, 5610.6875726 ,
       6603.60877153, 6124.39752998, 7424.83142342, 7188.78347526,
       7564.38550307, 6950.11367379, 7272.4316911 , 7842.65029808,
       7650.42408846, 6358.98215518, 7257.19795389, 7456.80545805,
       6956.88577277, 7019.98470472, 7083.18759218, 7070.61045803,
       6494.77881121, 7560.26944794, 7252.03193296, 6867.21942789,
       6656.79924401, 7223.67648056, 7410.85027135, 6762.48203333,
       6759.2764943 , 6866.55365314, 5911.46415822, 7025.50726294,
       6855.70530767, 6997.60306662, 7188.78347526, 6469.23684267,
       7457.82741586, 6785.17775458, 6722.86390583, 7130.8108959 ,
       6502.46350333, 6992.36414074, 7643.70088604, 6423.15879335,
       6986.74720258, 7107.61653779, 6475.77786605, 6992.36414074,
       7695.55251292, 7219.31990887, 7188.78347526, 6923.36429945,
       6253.20790657, 7186.30918105, 6217.39393678, 8110.55573732,
       7170.4429599 , 6834.42940256, 6907.89378236, 7221.6083291 ,
       7314.21937529, 7126.06119858, 7170.4429599 , 7124.33544112,
       7158.90738658, 6977.0327214 , 6404.16331667, 6760.63622762,
       6690.26710541])

In [30]:
# Normalized Mean Absolute Error (Dividing by mean)
mae_test= mean_absolute_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Abosulte Error: ",mae_test)

Test Mean Abosulte Error:  0.1251141330937557

In [31]:
# Normalized Mean Squared Error (Dividing by mean)
mse_test = mean_squared_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Squared Error: ",mse_test)

Test Mean Squared Error:  224.03582024426098